django==4.2.29
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
openai

# JWT 토큰 발급용 라이브러리
djangorestframework-simplejwt==5.5.1

langchain-core
langchain-openai
langchain-text-splitters
langgraph
typing_extensions
langchain-community
sentence-transformers
