django==4.2.29
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
openai
langchain-core
langchain-openai
langchain-text-splitters
langgraph
typing_extensions
langchain-community
sentence-transformers